.fonts {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
}

/* GRID */
body, html {
    padding: 0;
    margin: 0;
	overflow-x:hidden !important;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container:before,
.container:after {
    display: table;
    content: " ";
}
.container:after {
    clear: both;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:before,
.row:after {
    display: table;
    content: " ";
}
.row:after {
    clear: both;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
	border:0;
	outline:none;
	vertical-align:top;
	max-width:100%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
iframe {border:0;
}
input,
textarea {
	outline:none !important;
	resize:none;
	-webkit-appearance: none;
}
.clear {
	clear:both;
	height:0;
	font-size:0;
}
ul {
	padding:0;
	margin:0;
}
li {
	padding:0;
	margin:0;
	list-style:none;
}
.fleft {float:left;
}
.fright {float:right;
}

.color {color:#e74c3c;
}

/** MAIN **/
body {
	color: #666666;
	background: #fff;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height:24px;
	margin: 0;
	padding: 0;	
}
html {font-size: 100%;
}
::selection{
	background: #6BBD3F;
	color: #ffffff;
}
::-moz-selection {
	background: #6BBD3F;
	color: #ffffff;
}
.wrapper {overflow:hidden;
}
a {
	color: #2d2e2e;
	text-decoration:none !important;
}
a:hover { color: #6BBD3F;
}
strong { font-weight: 700;
}
.center {text-align: center;
}
.justify {text-align: justify;
}
p {
	padding:0;
	margin:0 0 10px 0;
}
#preloader {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:100%;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99900; /* makes sure it stays on top */
}
#status {
	width:80px;
	height:80px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../images/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-40px 0 0 -40px; /* is width and height divided by two */
}

/** HEADER **/
#top {
	background:rgba(255, 255, 255, 0.8);
	border:none;
	position:absolute;
	left:0;
	top:0;
	width:100%!important;
	z-index:999;
}
#top header,
.fixed-menu-wrapper {
	
}
.fixed-menu {
	border:none;
	position:fixed;
	left:0;
	top:-100px;
	background:#fff;
	z-index:9999;
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	width:100% !important;
	transition: all 250ms;
	-webkit-transition: all 250ms;
}
.fixed-menu.fixed_show {
	top:0;
	opacity: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
/* Logo */
#logo {
	padding: 6px 0;
	float:left;
	vertical-align:top;
}
.logo_top {
	display:block;
}

.fixed-menu .logo_top {
	display:block;
}
/*Menu*/
.navmenu{
	margin: 0;
	padding:0;
	float:right;
	font-size: 0;
}
.navmenu ul li {
	display: inline-block;
	vertical-align:top;
	list-style: none;
    margin: 0 0 0 0;
    position: relative;
    transition: all 300ms;
	-webkit-transition: all 300ms;
}
.navmenu ul li:hover {
	background: #6BBD3F;
}
.navmenu ul li a {
	display: inline-block;
	color: #2d2e2e;
	font-size: 16px;
	padding: 8px 20px 5px 20px;
	font-weight:400;
	text-decoration:none !important;
	outline:none;
	transition: all 300ms;
	-webkit-transition: all 300ms;
}
.navmenu li.active {
	background: #6BBD3F;
	color: #fff;
}
.navmenu li a:hover,
.navmenu li.active a {
    text-decoration: none;
    opacity:1;
    color: #fff;
    
}
a.menu_toggler {display:none;
}
.mobile_menu_wrapper {display:none;	
}
.navmenu ul li:last-child {margin-right:0;
}


/* Main Slider */
.full_slider {
	background-position:center center;
	background-repeat:no-repeat;
}
.full_slider.preloader {
	background-image:url(../images/preloader.html);
}
.full_slider_caption {
    position:absolute;
	top:40.4%;
	left:0;
	right:0;
	text-align:center;
	color: #fff;
    font-size: 18px;
    font-weight: 400;
	line-height: 24px;
    margin: 0;
    text-shadow: none;
	opacity: 1; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);	
	float:none;
}
.full_slider_caption.fleft {
	text-align:left;
}
.full_slider_caption.fright {
	text-align:right
}
.full_slider_caption.fcenter {
	text-align:center
}
.full_slider_caption img {
	width:auto !important;
	margin:0 auto;
}
.full_slider_caption.fleft img {
	margin:0 auto 0 0;
}
.full_slider_caption.fright img {
	margin:0 0 0 auto;
}
.slide_title,
.full_slider_caption p {
	margin-bottom:34px;
}
.slide_title {
	padding: 13px 20px 14px 20px;
	font-size:24px;
	line-height:normal;
	color:#2d2e2e;	
	margin-bottom: 30px;
	background: rgba(255, 255, 255, 0.85);
	clear: both;
	float: left;
}
.slide_title_alt {
	padding: 8px 20px 11px 20px;
	margin-bottom: 10px;
	font-size:30px;
	line-height:normal;
	font-weight:normal;
	color:#2d2e2e;
	background: rgba(255, 255, 255, 0.85);
	float: left;	
}
.shortcode_button { 
	display:inline-block;
	margin:0 0 5px 0;
	text-decoration:none;
	border:none;
	background-color:#6BBD3F;
	color:#fff;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	line-height:20px;
	font-size:14px;
	padding:7px 20px 8px 20px;
	font-weight:600;
	text-transform:uppercase;
	vertical-align:top;
	text-align:center;
	cursor:pointer;
	border-radius:0;
	-webkit-border-radius:0;
}
.shortcode_button:hover {
	background-color:#eb974e;
	color:#fff;
}
.shortcode_button.gray {
	background: #95a5a6;
}
.shortcode_button.gray:hover {
	background: #abb7b7;
}
.full_slider_caption .shortcode_button {
	padding:14px 30px 16px 30px;
	font-size: 18px;
}
.next_section {
	position:absolute;
	left:50%;
	bottom:30px;
	width:24px;
	height:42px;
	margin-left:-12px;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	background-image:url(../images/sprite.html);
	background-position:0 0;
	background-repeat:no-repeat;
}
.next_section:hover {
	opacity:0.5;
}
.icon-box {
	padding: 80px 0 65px 0;
}
.icon-box .item {
	text-align: center;
}
.icon-box .item .title {
	padding: 26px 0 10px 0;
	font-size: 24px;
	color: #2d2e2e;
}
.help-box-wrap {
	padding: 96px 0 83px;
	background: url(../images/bgs/help-box-bg.jpg) no-repeat;
}
.help-box-wrap .clear-alt {
	display: none;
	clear: none;
}
.help-box-wrap .sub-title {
	padding: 0 0 20px 0;
	font-size: 24px;
	color: #2d2e2e;
}
.help-box-wrap .item {
	padding: 25px 7px 0 7px;
	text-align: center;
	vertical-align: top;
}
.help-box-wrap .item .name {
	padding: 24px 0 11px 0;
	font-size: 22px;
	color: #2d2e2e;
}
.help-box-wrap form {
	padding: 7px 0 0;
}
.help-box-wrap .shortcode_button {
	width: 100%;
	padding:7px 30px 8px 30px;
}
.help-box-wrap .wrap {
	padding-left: 40px;
}
.page_section .block_header {
	width: 100%;
	overflow:hidden;
	padding-top:52px;
	padding-bottom:42px;
	text-align:left;	
}

/*-------NEWS------*/
#about .block_header {
	padding-top: 42px;
	padding-bottom: 45px;
}
#about .block_header h2 {
	margin-bottom: 40px;
}
#about .block_header.about {
	padding-top: 98px;
	padding-bottom: 48px;
}
.block_header.about .shortcode_button {
	margin-right: 20px;
}
.about-text {
	padding: 23px 0 26px 0;
}
#about .block_header.staff {
	padding-bottom: 0;
}
#about .block_header.staff h2 {
	margin-bottom: 20px;
}
.block_header.staff .item-wrap {
	font-size: 0;
}
.block_header.staff .item {
	text-align: center;
	padding-top: 20px;
	display: inline-block;
	vertical-align: top;
	float: none;
}
.block_header.staff .item .img-wrap {
	position: relative;
	overflow: hidden;
}
.block_header.staff .item p {
	font-size: 16px;
}
.block_header.staff .item .social {
	position: absolute;
	text-align: center;
	top: 50%;
	left: -400px;
	width: 100%;
	transform: translateY(-50%);
	transition: all 400ms;
	-webkit-transition: all 400ms;
	font-size: 0;
}
.block_header.staff .item:nth-child(odd) .social {
	right: -400px;
	left: auto;
}
.block_header.staff .item .img-wrap:hover .social {
	left: 0;
}
.block_header.staff .item:nth-child(odd) .img-wrap:hover .social {
	right: 0;
	left: auto;
} 
.block_header.staff .item .social li {
	display: inline-block;
	padding: 0 5px;
}
.block_header.staff .item .social li a {
	transition: opacity 400ms;
	-webkit-transition: opacity 400ms;
	opacity: 1;
}.block_header.staff .item .social li a:hover {
	opacity: 0.6;
}
.block_header.staff .item .img-wrap:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(000, 000, 000, 0.75);
	opacity: 0;
	transition: opacity 400ms;
	-webkit-transition: opacity 400ms;
}
.block_header.staff .item .img-wrap:hover:before {
	opacity: 1;
}
.block_header.staff .item .name {
	padding: 24px 0 0;
	font-size: 24px;
	color: #2d2e2e;
}
.block_header.staff .item .post {
	padding: 10px 0 9px 0;
	font-size: 16px;
	color: #2d2e2e;
}
.block_header.staff .item p {
	padding-bottom: 27px;
	border-bottom: 1px dashed #cfcfcf;
}
h2 {
	line-height:30px;
	color:#2d2e2e;
	font-weight:600;
	font-size:30px;
	margin:0 0 36px 0;
	padding:0 0 17px 0;	
	position:relative;
	border-bottom: 1px dashed #cdcdcd;
}

/*-------PROGRAMS------*/
#programs .block_header.programs {
	padding-top: 81px;
	padding-bottom: 34px;
}
.program-item {
	padding: 0 0 60px 0;
}
.program-item .title {
	padding: 0 0 20px 0;
	font-size: 24px;
	color: #2d2e2e;
}
.program-item .shortcode_button {
	margin-top: 24px;
	padding: 8px 20px 10px 20px;
}
.causes {
	padding: 29px 0 0;
}
.causes-item {
	padding: 0 0 60px 0;
}
.causes-item .img-wrap {
	margin: 0 25px 0 0;
	display: inline-block;
	position: relative;
	text-align: center;
}
.causes-item .img-wrap .shortcode_button {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -68px;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	width: 137px;
	opacity: 0;
}
.causes-item .img-wrap:hover .shortcode_button {
	opacity: 1;
}
.causes-item .img-wrap:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(000, 000, 000, 0.5);
	opacity: 0;
	-webkit-transition: opacity 400ms;
	transition: opacity 400ms;
}
.causes-item .img-wrap:hover:before {
	opacity: 1;
}
.causes-item .info {
	display: inline-block;
	vertical-align: top;
	width: 65%;
}
.causes-item .info .collect-remaining {
	padding: 26px 0 0 0;
	position: relative;
}
.causes-item .info .collect-remaining .line {
	height: 10px;
	background: #f4f6f6;
	width: 370px;
}
.causes-item .info .collect-remaining .line span {
	background: #6BBD3F;
	display: block;
	float: left;
	height: 10px;
}
.causes-item .info .collect-remaining .counters {
	width: 370px;
	height: 40px;
	position: relative;
}
.causes-item .info .collect-remaining .counters > div {
	position: absolute;
	top: 11px;
}
.causes-item .info .collect-remaining .start {
	left: 0;
}
.causes-item .info .collect-remaining .current {
	left: 50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
}
.causes-item .info .collect-remaining .needed {
	right: 0;
}
.causes-item .info .wrap {
	padding: 9px 0 0;
}
.causes-item .info .title {
	font-size: 22px;
	color: #2d2e2e;
}
.causes-item .info .need {
	padding: 11px 0 0;
	font-size: 18px;
	color: #2d2e2e;
}
.causes-item .info .need span {
	color: #6BBD3F;
}

.block_header.memories {
	padding-top: 0;
	padding-bottom: 4px;
}
.block_header.news {
	padding-top: 93px;
}
.memories {
	font-size: 0;
}
.memories .item {
	width: 25%;
	display: inline-block;
}

.memories-list {
	width: 100% !important;
}
.memories-list li {
	width: 25%;
	overflow: hidden;
}
.memories-list li a:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(000, 000, 000, 0.5);
	opacity: 0;
	-webkit-transition: opacity 400ms;
	transition: opacity 400ms;
	z-index: 1;
}
.memories-list li a:hover:before {
	opacity: 1;
}
.memories-list li .title {
	position: absolute;
	padding: 0 10px;
	top: 50%;
	width: 100%;
	text-align: center;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	opacity: 0;
	-webkit-transition: opacity 400ms;
	transition: opacity 400ms;
	z-index: 1;
}
.memories-list li:hover .title {
	opacity: 1;
}

.memories-list li a {
	display: block;
	position: relative;
}
.memories-list li a img {
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	width: 100%;
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-webkit-transition: all 400ms;
	transition: all 400ms;
}
.memories-list li:hover img {
	transform:scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
}

/*-------NEWS------*/
.news-list .item .text {
	padding-bottom: 24px;
	border-bottom: 1px dashed #cfcfcf;
}
.news-list .item .info {
	padding: 30px 0 8px 0;
}
.news-list .item .date {
	margin: 0 15px 0 0;
	text-align: center;
	border:1px solid #666666;
	float: left;
	width: 44px;
	height: 44px;
}
.news-list .item .date em {
	padding: 5px 0 0;
	font-size: 18px;
	line-height: 20px;
	color: #2d2e2e;
	font-style: normal;
	display: block;
}
.news-list .item .date span {
	text-transform: uppercase;
	font-size: 12px;
	display: block;
	line-height: 14px;
}
.news-list .item .name {
	width: 84%;
	float: left;
}
.news-list .item a.title {
	font-size: 18px;
	line-height: 15px;
	-webkit-transition: all 400ms;
	transition: all 400ms;
}
.news-list .item .name span {
	font-size: 14px;
}
.news-list .item .name span a {
	font-size: 14px;
	color: #666666;
	-webkit-transition: all 400ms;
	transition: all 400ms;
}
.news-list .item .name span a:hover {
	color: #6BBD3F;
}

.partners-list-wrap 	{
	padding: 43px 0 73px 0;
	background-image: #fff;
}
.partners-list {
	padding: 17px 0 0;
}
.partners-list li {
	width: calc(100% / 5);
	float: left;
	text-align: center;
}
.partners-list li a { 
	opacity:1;
	transition: opacity 500ms;
	-webkit-transition: opacity 500ms;
}
.partners-list li a:hover { 
	opacity:0.5;
}

.page_section .block_header .sub-title {
	padding-bottom:10px;
	font-size:20px;
	color:#262626;
	font-weight:600;
	display:block;
}
.full_width img {
	width:100%;
	height:auto;
}
.pb0 {
	padding-bottom:0 !important;
}

h3 {
	line-height:35px;
	color:#262626;
	font-weight:700;
	font-size:30px;
	margin:0 0 17px 0;
	padding:0;	
}
h4 {
	line-height:25px;
	color:#262626;
	font-weight:400;
	font-size:18px;
	margin:0 0 19px 0;
	padding:0;	
}
.stretch {
	background-position:center center;
	background-size:cover;
	-webkit-background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

/* Featured Project */
.slider_caption {
	position:absolute;
	left:100px;
	right:100px;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	text-align:center;
	padding-top:16px;
}
.slider_caption p {
	line-height:20px;
	font-style:italic;
}
.slide_info {
	line-height:28px;
	font-style:italic;
	font-size:18px;
	margin-bottom:27px;
}
.slider_caption h2 {
	padding-bottom:32px;
}
.divider {
	margin:0 auto;
	margin-bottom:38px;
	width:170px;
	height:1px;
	background:#cdcdcd;
}

/* Isotope */
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}
/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}

.image-grid {
	margin-top:20px;	
}
.image-grid .container {
	position:relative;
}
.image-grid .element { 
	background:none; 
	overflow:hidden; 
	margin-bottom:30px;	
}

/* Subscribe Block */
.promo_text {
	padding-top:68px;
	padding-bottom:43px;
	text-align:center;
}
.subscribe_block {
	padding-bottom:73px;
	max-width:830px;
	margin:0 auto;
}
.subscribe_block .socials {
	padding-top:2px;
}
.subscribe_block form input[type="text"] {
	background: none;
	margin: 0 15px 7px 0;
	padding: 5px 9px 6px 9px;
	width: 350px;
	border:1px #cdcdcd solid;
	outline:none;
	border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:none;
	font-size:14px;
	color:#666666;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	line-height:22px;
	display: inline-block;
	vertical-align:top;
}
input.subscribe,
input.send_btn {
	cursor: pointer;
	background-color:#6BBD3F;
	color: #fff !important;
	margin: 13px 0 7px 0 !important;
	display: inline-block;
	padding: 0 20px !important;
	height:35px;
	line-height:34px;
	font-size: 14px !important;
	font-weight: 400 !important;
	width: auto !important;
	font-family: 'Open Sans', sans-serif;
	vertical-align:top;
	-webkit-transition:all 0.4s ease;
    transition:all 0.4s ease;
	border:0 !important;
	text-transform:uppercase;
	cursor:pointer;
	border-radius:0;
	-webkit-border-radius:0;
}
input.subscribe:hover,
input.send_btn:hover {
    background-color:#eb974e !important;
    text-decoration: none;
	color:#fff !important; 
}

@media only screen and (max-width: 992px) {
    .subscribe_block {
		max-width:inherit;
		padding:0 15px;
	}
	.subscribe_block form input[type="text"] {
		width: 100%;
	}
	.subscribe_block .fleft,
	.subscribe_block .fright {
		float:none;
	}
	.help-box-wrap .item {
		width: 50%;
	}
	.help-box-wrap .wrap {
		padding-left: 20px;
	}
}

/** Contact Section **/
.contacts_block_bg {
	background:#f4f6f6;
}
.contact_form {
	padding: 0 0 73px 0;
}
#contact h2 {
	color: #2d2e2e;
	margin: 0 0 19px 0;
}
#contact h3 {
	color:#2d2e2e;
	font-size:24px;
	font-weight: normal;
	margin:0 0 20px 0;
}
#contact .block_header {
	padding-top: 74px;
	padding-bottom: 13px;
}
#contact .block_header p {
color: #2d2e2e;
}


form input[type="text"],
form textarea {
	margin: 0 0 30px 0;
	padding: 7px 12px 6px 12px;
	width: 100%;
	height: 34px;
	border:1px solid #d1d9d9;
	outline:none;
	border-radius:0;
	-webkit-border-radius:0;
	box-shadow:none;
	font-size:14px;
	color:#666666;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	line-height:normal;
}
form textarea {
	margin-bottom:17px;
	height:100px;
	padding-top:5px;
	overflow:hidden;
}

#fields .input-wrap {
	float: left;
}
#fields .input-wrap:first-child {
	padding: 0 30px 0 0;
}
/* Icon Box */
.icon_box {
	padding:4px 0 23px 40px;
	position:relative;	
	line-height:22px;
	font-size:14px;
	color:#2d2e2e;
}
.icon_box .icon {
	position:absolute;
	left:0;
	top:0;
}
.icon_box a {
	color: #2d2e2e;
}
.socials-list {
	padding: 55px 0 0;
}
.socials-list li { 
	padding: 0 0 10px 0;
}

.socials-list li a {
	opacity: 1;
	-webkit-transition:opacity 0.5s ease;
    transition:opacity 0.5s ease;
}
.socials-list li a:hover {
	opacity: 0.6;
}

/* Placeholder */
::-webkit-input-placeholder {
    opacity: 1 !important;
    color: #777777;
}

:-moz-placeholder { /* Firefox 18- */
   opacity: 1 !important;
   color: #777777;
}

::-moz-placeholder {  /* Firefox 19+ */
   opacity: 1 !important;
   color: #777777;
}

:-ms-input-placeholder {
    opacity: 1 !important;
    color: #777777;
}

/* WebKit browsers */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}

/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent !important;
}

/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}

/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: transparent !important;
}

/** form valid style **/
.notification_error,
.notification_ok {
    border-radius: 3px;
	-webkit-border-radius:3px;
    margin: 0 0 22px 0;
    padding: 12px 10px 12px 35px;
	position:relative;
	text-align:left;
	line-height:22px;
	font-size:14px;
}
.notification_ok {
    border: 1px #038BD4 solid;
    color: #038BD4;
	background:#D0E3EA;
}
.notification_error {
    border: 1px #C93119 solid;
    color: #C93119;
	background:#FFCFCF;
}
.notification_error:before,
.notification_ok:before {
    content: ''; 
	width: 16px;
	height: 16px;
	position: absolute;
	left:11px;
	top:13px;		
	background-position:0 0;
	background-repeat:no-repeat;
}
.notification_error:before {background-image:url(../images/error.png);
}
.notification_ok:before {background-image:url(../images/info.png);
}

/* Footer */
.footer {
	background:#363636;
	line-height:22px;
	padding-top:28px;
	padding-bottom:30px;
	font-size:14px;
	color:#fff;
	
}
.hide {
	opacity:0;
}


.footer .copyrights {
	text-align: center;
}
h6 {
	line-height:22px;
	color:#fff;
	font-weight:400;
	font-size:14px;
	margin:0 0 4px 0;
	padding:0;
	text-transform:uppercase;		
}
.clear-resp {
	clear: both;
	display: none;;
}

/* Responsive changes */
@media only screen and (max-width: 410px) {
	#home .slide_title  {
		display: none;
	}
	#home .slide_title_alt {
		padding-bottom: 20px
	}	
	.block_header.staff .item .img-wrap {
		width: 290px !important;
		margin: 0 auto;
	}
	
}
@media only screen and (max-width: 485px) {
	.clear-resp {
		clear: both;
		height: 20px;
		display: block;;
	}
	#about .img-wrap {
		margin: 0 auto;
	}
	.memories-list li {
		width: 50%;
	}
	.help-box-wrap .item {
		width: 100% !important;
	}
	.partners-list li {
		margin-bottom: 20px;
		width: 100% !important;
	}
}
@media only screen and (max-width: 600px) {
	.causes .col-md-6 {
    	width: 100%;
    }
    .causes-item .img-wrap {
    	margin: 0 auto;
    	display: block;
    	width: 170px;
    	height: 170px;
    }
    .causes-item .info {
    	padding-top: 20px;
    	display: block;
    	width: 100%;
    }
    .causes-item .info .wrap {
    	min-height: 85px;
    }
    .causes-item .info .text {
    	display: block !important;
    	width: 100% !important;
    }
    .causes-item .info .collect-remaining {
    	display: block !important;
    	width: 100% !important;
    }
    .causes-item .info .collect-remaining .line {
		width: 100% !important;
	}
	.causes-item .info .collect-remaining .counters {
	    width: 100% !important;
	}
	#contact .col-md-3 {
		width: 100% !important;
		float: none !important;
	}
	.socials-list {
		padding:5px 0 0 0;
	}
	.socials-list li {
		padding-bottom: 30px;
	}
	#contact .col-md-1 {
		width: 100% !important;
		float: none !important;
	}
	.icon_box br {
		display: none;
	}
	.contact_form {
		padding-bottom: 30px;
	}
	.full_slider_caption {display:none;}
}
@media only screen and (max-width: 767px) {
	#top header {
		position: fixed;
		width: 100%;
		z-index: 999;
		top: 0;
		left:0;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
		background:#fff;
	}
	#top header nav {
		display: none !important;
	}	
	a.menu_toggler {
		display:inline-block;
		float:right;
		margin:-17px 20px 0px 0;
		border:#cfcfcf 1px solid;
		border-radius:4px;
		box-shadow:inset #fbfbfb 0 1px 0;
		width:34px;
		height:34px;
		position:absolute;
		overflow:hidden;
		right:0;
		top:50%;
	
		background-color:#efefef;
		background-image: linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -webkit-linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -moz-linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -ms-linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -o-linear-gradient(top, #f5f5f5, #e9e9e9);
	}
	a.menu_toggler:hover {
		background-color:#f5f5f5;
		background-image: linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -webkit-linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -moz-linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -ms-linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -o-linear-gradient(top, #e9e9e9, #f5f5f5);	
	}
	a.menu_toggler:before {
		content:'';
		display:block;
		position:absolute;
		left:7px;
		top:7px;
		width:20px;
		height:20px;
		background-repeat:no-repeat;
		background:url(../images/btn_menu.png) no-repeat;		
	}
	.fixed-menu,
	.fixed-menu:before,
	.fixed-menu:after {
		display:none!important;
	}
	.mobile_menu_wrapper {
		display:block;
		background:#fff;
		position: fixed;
		width: 100%;
		z-index: 999;
		top: 79px;
		left:0;
		padding:15px 40px 20px 20px;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.18);
	}
	.mobile_menu_wrapper a {
		color:#2d2e2e;
		font-size:15px;
		-webkit-transition: all 400ms;
		transition: all 400ms;
	}
	.mobile_menu_wrapper a:hover {color:#6BBD3F;
	}
	.service_block_bg {
		position:relative;
		left:0;
		top:0;
		bottom:auto;
		width:100%;
		z-index:10;
		height:300px;
		margin-top:40px;
	}
	.slide_info {
		margin-bottom:10px;
	}
	.slider_caption h2 {
		padding-bottom:10px;
		font-size:15px;
		line-height:25px;
	}
	.divider,
	.slider_caption .triangle,
	.slider_caption p {
		display:none;
	}
	.image-grid .element { 
		width:100%;	
	}
	.full_slider_caption p {
		display:none;
	}
	.slide_title {
		font-size: 20px;
		margin-bottom: 10px;
	}
	form input[type="text"], form textarea {
		width: 100%;
	}
	#fields .input-wrap {
		float: none;
	}
	#fields .input-wrap:first-child {
		padding: 0;
	}
	.pp_details { width: 100%!important;}
	.icon-box .item {
		padding-bottom: 20px;
	}
	.help-box-wrap .item-wrap {
		padding-bottom: 20px;
		overflow: hidden;
	}
	.help-box-wrap .item {
		width: 48%;
		display: inline-block;
	}
	.help-box-wrap .clear-alt {
		display: block;
		clear: both;
	}
	.help-box-wrap .wrap {
		padding-left: 0;
	}
	.block_header.staff .item .img-wrap {
		width: 370px;
		margin: 0 auto;
	}
	.program-item .col-md-6 {
		text-align: center;
	}
	.program-item .col-md-6:first-child {
		padding-bottom:20px;
	}
	.news-list .col-md-4 {
		width: 100%;
		margin-bottom: 20px;
	}
	.news-list .col-md-4 > img {
		display: block;
		margin: 0 auto;
	}
	.news-list .col-md-4:last-child {
		margin-bottom: 0;
	}
	.partners-list li {
		margin-bottom: 20px;
		width: 50% !important;
	}
	.partners-list-wrap {
		padding-bottom: 53px;
	}
	#contact .col-md-3 {
		width: 48%;
		float: left;
	}
	#contact .col-md-1 {
		width: 48%;
		float: left;
	}
	.socials-list li {
		float: left;
		padding-right: 10px;
		padding-left: 0;
	}
	.contact_form {
		padding-bottom: 30px;
	}
	#logo {
	    padding: 10px 0px 18px 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    /* Grid */
    .socials-list li {
		padding: 0 0 0 10px;
	}
	.container {
        width: 760px;
    }	
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11 {
        float: left;
    }
    .col-md-1 {
        width: 8.333333333333332%;
    }
    .col-md-2 {
        width: 16.666666666666664%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33333333333333%;
    }
    .col-md-5 {
        width: 41.66666666666667%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.333333333333336%;
    }
    .col-md-8 {
        width: 66.66666666666666%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33333333333334%;
    }
    .col-md-11 {
        width: 91.66666666666666%;
    }
    .col-md-12 {
        width: 100%;
    }
		
	.slide_info {
		margin-bottom:10px;
	}
	.slider_caption h2 {
		padding-bottom:15px;
	}
	.divider,
	.slider_caption .triangle {
		display:none;
	}
	.image-grid .element { 
		width:25%;	
	}
	.slide_title {
		font-size: 40px;
	}
	.program-item .col-md-6 {
		width: 100%;
	}
	.program-item .col-md-6 {
		text-align: center;
	}
	.program-item .col-md-6:first-child {
		padding:0 0 20px;
	}
	.news-list .col-md-4 {
		width: 100%;
		margin-bottom: 20px;
	}
	.news-list .col-md-4:last-child {
		margin-bottom: 0;
	}
	.news-list .col-md-4 > img {
		display: block;
		margin: 0 auto;
	}
	.socials-list li {
		padding-left: 0;
		padding-bottom: 10px;
	}
}

@media (min-width: 992px) {
	/* Grid */
	.container {
        width: 990px;
    }
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666666666666%;
    }
    .col-md-10 {
        width: 83.33333333333334%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666666666666%;
    }
    .col-md-7 {
        width: 58.333333333333336%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666666666667%;
    }
    .col-md-4 {
        width: 33.33333333333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.666666666666664%;
    }
    .col-md-1 {
        width: 8.333333333333332%;
    } 
	
	.slide_info {
		margin-bottom:17px;
	}
	.slider_caption h2 {
		padding-bottom:15px;
	}
	.divider {
		display:none;
	}
	.image-grid .element { 
		width:25%;	
	}	
	.slide_title {
		font-size: 24px;
	}

	 
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
	.divider {
		display:block;
	}
	.contact_form {
		padding-right:9x;
	}
	.slider_caption h2 {
		padding-bottom:32px;
	}
	form textarea {
		width: 770px;
	}
}
@media only screen and (max-width: 1200px) {
    .causes .col-md-6 {
    	width: 100%;
    }
    .news-list .item .name {
	    width: 74%;
	    float: left;
	}
}
@media only screen and (max-width: 485px) {
	.partners-list li {
		margin-bottom: 20px;
		width: 100% !important;
	}
}




